 
 {%block content%}
 <!-- mobile nav bar -->
    <div class="container d-flex d-lg-none fixed-bottom bg-light m-0 p-0">
        <nav class="row d-flex">
            <div class="col-2 text-center">
                <button class="btn h-100 w-10 text-center position-relative">Profile</button>
            </div>
            
            <div class="col-2 text-center">
                <button class="btn h-100 w-100 text-center position-relative">Browse</button>
            </div>
            
            <div class="col-4 text-center">
                <button class="btn h-100 w-100 bg-primary position-relative">Add Trick</button>
            </div>
            
            <div class="col-2 text-center">
                <button class="btn h-100 w-100 text-center">Your Tricks</button>
            </div>
            
            <div class="col-2 text-center">
                <button class="btn h-100 w-100 text-center">Settings</button>
            </div>
        </nav>
    </div>
{% endblock %}